@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(to right, rgba(235, 224, 232, 1) 52%, rgb(1, 94, 254) 53%, rgb(1, 115, 254) 100%);
    font-family: 'Roboto', sans-serif
}
.heading{
    letter-spacing: 1.2px !important;
}
.card {
    border: none;
    border-radius: 24px;
    padding: 35px;
    padding-bottom: 20px !important
}
.card-title,.card-text{
    font-weight: bolder;
}

